body {
    font-family: Arial;
}
.head-img {
    border: 3px solid black;
    border-radius: 50%;
    transition: all .5s;
}
.head-img:hover {
    transform: scale(1.2)rotate(10deg);
}
h1 {
    background-color: #e2e2e2;
    padding: 5px;
}
.section-title {
    text-transform: uppercase;
}